Print/15680. 연세대학교/x64/Debug/15680. 연세대학교.exe
Print/15680. 연세대학교/x64/Debug/15680. 연세대학교.pdb
*.tlog
Print/15680. 연세대학교/15680. 연세대학교/x64/Debug/vc143.pdb
*.idb
*.db-wal
*.db
*.suo
*.db-shm
*.opendb
*.sln
*.ipch
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.recipe
*.ilk
*.log
*.obj