*.tlog
*.idb
*.db-wal
*.db
*.suo
*.db-shm
*.opendb
*.sln
*.ipch
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.recipe
*.ilk
*.log
*.obj
.idea/
*.exe
Stack/17608. 막대기/cmake-build-debug/
Tree/01. silver/1991. 트리 순회/cmake-build-debug/
Tree/cmake-build-debug/CMakeFiles/clion-Debug-log.txt